body {
    padding: 10px;
}

.backgrid-container {
    margin-bottom: 20px;
}
.backgrid-container {
    position: relative;
    display: block;
    width: 100%;
    height: 465px;
    padding: 0;
    overflow: auto;
    border: 0;
}

.backgrid td, .backgrid th {
    display: none;
}

.backgrid td.renderable, .backgrid th.renderable {
    display: table-cell;
}

.backgrid thead th {
    vertical-align: bottom;
    background-color: #f9f9f9;
}
.backgrid th {
    font-weight: 700;
    text-align: center;
}

.backgrid .date-cell, .backgrid .date-cell.editor input[type="text"], .backgrid .datetime-cell, .backgrid .datetime-cell.editor input[type="text"], .backgrid .integer-cell, .backgrid .integer-cell.editor input[type="text"], .backgrid .number-cell, .backgrid .number-cell.editor input[type="text"], .backgrid .percent-cell, .backgrid .percent-cell.editor input[type="text"], .backgrid .time-cell, .backgrid .time-cell.editor input[type="text"] {
    text-align: right;
}

.backgrid .email-cell, .backgrid .email-cell.editor input[type="text"], .backgrid .string-cell, .backgrid .string-cell.editor input[type="text"], .backgrid .uri-cell, .backgrid .uri-cell.editor input[type="text"] {
    text-align: left;
}

.backgrid .string-cell.descripcion, .backgrid .borrarBoton {
    text-align: center;
}

/* stripped rows */
.backgrid.table-stripped tr:nth-child(odd) {
    background-color: #f0f2f7;
}

.backgrid tr td {
    border-left: 1px solid lightgray;
}

.backgrid tr td:last-child {
    border-right: 1px solid lightgray;;
}

.backgrid-filter.form-search {
    float: left;
    margin-top: 3px;
}

#add {
    margin-top:17px;
}

.backgrid .timestamp {
    text-align: right;;
}

#loading-spinner {
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.51);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.holder {
    text-align: center;
    padding: 30px;
}

#uploader_div{
    padding-top: 15%;
    z-index: 50;
    background-color: rgba(205, 205, 205, 0.87);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#uploader_div input[type="file"] {
    width: 100%;
    text-align: center;
}

#uploader_div button {
    margin-top: 20px;
}

#uploader_div .descripcion {
    margin-top: 10px;
    font-style: italic;
    font-size: 85%;
    display: inline-block;
    width:70%;
}

#uploader_div .closer {
    position: absolute;
    top: 1%;
    right: 2%;
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    color: maroon;
}