<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="redirects_module">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_DSN" value="mysql:host=localhost" />
        <var name="DB_DBNAME" value="dbname=pruebaxxx_tests" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="12345678" />

        <var name="dataFile" value="/_files/redirects.xml" />
    </php>
</phpunit>